---
import { ICertifications } from "@types";

const { title, details } = Astro.props as ICertifications;
---

<section
  class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
>
  <h2 class="w-[15rem] mt-16">{title}</h2>
  <div class="w-full">
    {
      details.map((item) => (
        <div class="my-16">
          <div class="flex justify-between items-center flex-wrap">
            <h3 class="text-xl font-semibold">{item.name}</h3>
            <p class="text-sm dark:text-gray">{item.date}</p>
          </div>
          <a href={item.certificateUrl} target="_blank" class="text-sm mt-3 text-violet-500 ">
            <p class="text-violet-500">{item.platform}</p>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="w-4 h-4"
            >
              <path
                fill-rule="evenodd"
                d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                clip-rule="evenodd"
              />
              <path
                fill-rule="evenodd"
                d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </div>
      ))
    }
  </div>
</section>
